@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Cormorant Garamond', serif;
    /* color: #35373d; */
 }
 
h2 {
  color: #000;
  /* text-decoration: underline; */
}
h3 {
  color: #000
}


/* //*CONTACT FORM */
#form-label {
    padding:  2px;
    margin-top: 20px;
  }
  
  /* //*FORM INPUT STYLES */
  .form-input {
    border: 2px solid #000;
    width: 100%;
    border-radius: 5px;
    padding: 5px 1px 5px 5px;
  }
  
  
  
  ._textShadow{
   text-shadow: 1px 1px 1px #007ba5;
  }
  
  #message {
    height: 150px;
  }
  
  .error-msg {
    color: coral;
  }
  
  /* //*end FORM INPUT STYLES */
 